body {
  background-image: url("/images/poosdSiteBG.jpg");
  /*got thei mage from ucf's mediagraph page but i think we may have to change it since we need to request access to download and i did Not do that.*/
  /*https://mediagraph.io/ucf/explore/collections/arboretum#/assets/10589b33-c31c-4dc0-8446-c4c9d4e43faf*/
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: left;
  font-family: "Volkhof", sans-serif;
}

#loginDiv {
  padding: 40px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
input[type="text"],
input[type="password"] {
  border-radius: 25px;
  text-align: center;
  height: 40px;
  width: 200px;
  margin-left: 15%;
  margin-bottom: 3%;
  font-family: "Volkhof", sans-serif;
  opacity: 0.8;
}

#inner-title {
  display: inline-block;
  font-size: 1.8em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 2%;
  font-family: "Volkhof", sans-serif;
  color: black;
}
#loginName {
}

#loginButton {
  background-color: white;
  color: black;
  border-radius: 25px;
  display: inline-block;
  margin-left: 40%;
  margin-right: 60%;
  cursor: pointer;
  border: none;
}
