body {
  background-image: url("/images/poosdSiteBG.jpg");
  /*got thei mage from ucf's mediagraph page but i think we may have to change it since we need to request access to download and i did Not do that.*/
  /*https://mediagraph.io/ucf/explore/collections/arboretum#/assets/10589b33-c31c-4dc0-8446-c4c9d4e43faf*/
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#textLogo {
  text-align: left;
  font-family: "Volkhof", sans-serif;
}
#textLogo .active {
  pointer-events: none;
  cursor: pointer;
}

.form {
  /*this is for the entire form container */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;

  margin: 0 auto;
  text-align: center;
}

.formLabel {
  /*login and signup*/
  text-align: center;
  margin-bottom: 35px;
}

input[type="text"],
input[type="password"] {
  /*ATM, passwords are parsed as reg. text in index.html so type=password is redundant*/
  border-radius: 40px;
  text-align: center;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 13%;
  font-family: "Volkhof", sans-serif;
}

#loginName {
  font-size: 30px;
}

#loginPassword {
  font-size: 30px;
}

#newUser {
  font-size: 30px;
}

#newPass {
  font-size: 30px;
}

#newFname {
  font-size: 30px;
}

#newLname {
  font-size: 30px;
}

#registerForm {
  display: none;
}

.button {
  display: block;
  font-size: 25px;
  border-radius: 25px;
  width: 35%;
  margin-left: 0 auto;
  font-family: "Volkhof", sans-serif;
  background-color: #4e6cc7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #32457e;
}

.button:hover {
  background-color: #144c96;
}

.button:active {
  background-color: #4e6cc7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* classes (reference w .):
1. formLabel
2. form
2. inputForms
3. button


ids (reference w #)
1. loginForm
2. loginName
3. loginPassword
4. registerForm --> for javascript 
5. textLogo*/
