@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

body {
  background-image: url("/images/poosdSiteBG.jpg");
  /*got thei mage from ucf's mediagraph page but i think we may have to change it since we need to request access to download and i did Not do that.*/
  /*https://mediagraph.io/ucf/explore/collections/arboretum#/assets/10589b33-c31c-4dc0-8446-c4c9d4e43faf*/
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Fredoka", sans-serif;
}

#textLogo {
  text-align: left;
}

#textLogo .active {
  pointer-events: none;
  cursor: pointer;
}

#textLogo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.8);
}

.form {
  /*this is for the entire form container */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  max-width: 350px;
  background-color: rgb(216, 208, 216, 0.8);
  border-radius: 25px;

  margin: 0 auto;
  text-align: center;
}

.formLabel {
  /*login and signup*/
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 35px;
  text-align: center;
  margin-bottom: 35px;
}

.form-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.inputForms {
  margin-bottom: 20px;
}

.inputForms input {
  font-size: 30px;
}

input[type="text"],
input[type="password"] {
  border-radius: 40px;
  text-align: center;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 13%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

#registerForm {
  display: none;
}

.button {
  display: block;
  font-size: 25px;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
  color: white;
  text-shadow: 2px 2px 4px #000000;

  background-color: rgb(230, 123, 137);
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: #bf5866;
}

.button:active {
  background-color: #c96371;
  box-shadow: 0 5px #bf5866;
  transform: translateY(4px);
}

#hideLogin {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.1);
}

#showLogin {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.1);
}

#loginResult,
#signupResult {
  color: #333;
}

/*Contact fORM section*/
.searchSection {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
  max-width: 1200px;
}
.searchBar {
  position: relative;
  width: 50%;
}
#searchInput {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: white;
  font-size: 16px;
}

/*search button and add user button*/
.actions {
  display: flex;
  gap: 10px;
}
.searchButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-98%);
}

#addUserButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-98%);
}

/*when addform is on*/
#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/*add contact form*/
#entireContactSection {
  display: none;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}
/*x button*/
.closeForm {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.closeForm:hover {
  color: Red;
}

/*table*/
.contactsHeader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(230, 123, 137);
  width: 990px;
  padding: 15px;
  margin-top: 20px;
}
.headerColumnNames {
  flex: 1;
  color: white;
}

/* classes (reference w .):
1. formLabel
2. form
2. inputForms
3. button


ids (reference w #)
1. loginForm
2. loginName
3. loginPassword
4. registerForm --> for javascript 
5. textLogo*/
